div#app-production-container {
    background-color: var(--color-black-light);
    width: 100%;
}

div#app-top-production {
    height: 55%;
    width: 100%;
}
div#app-bottom-production {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

div#app-channel-rack-container {
    width: 40%;
    height: 100%;
    background-color: var(--color-black-dark);
    margin-right: var(--app-production-border-width);
    overflow: hidden;
}
div#app-mixer-container {
    width: 60%;
    height: 100%;
    background-color: var(--color-black-dark);
    overflow: hidden;
}
div#app-sequenceur-container {
    height: calc(100% - var(--app-production-border-width));
    background-color: var(--color-black-dark);
    margin-bottom: var(--app-production-border-width);
    overflow: hidden;
}