:root {
    --color-green-light: #2ECC71;
    --color-green-dark: #27AE60;
    --color-red-light: #E74C3C;
    --color-red-dark: #C0392B;
    --color-blue-light: #3498DB;
    --color-blue-dark: #2980B9;
    --color-purple-light: #9B59B6;
    --color-purple-dark: #8E44AD;
    --color-yellow-light: #F1C40F;
    --color-yellow-dark: #F39C12;
    --color-white-light: #ECF0F1;
    --color-white-dark: #BDC3C7;
    --color-grey-light: #95A5A6;
    --color-grey-dark: #7F8C8D;
    --color-black-light: #34495E;
    --color-black-dark: #2C3E50;
    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    --animation-quick: 100ms;
    --animation-normal: 300ms;
    --animation-slow: 600ms;
    --animation-ease: cubic-bezier(0.3,0,0.1,1);

    --app-header-height: 44px;
    --app-border-radius: 4px;
    --app-border-width: 2px;
    --app-box-shadow: 0px 0px 10px #0004 inset;
    --app-resize-bar-width: 4px;
    --app-explorer-width: 240px;
    --app-explorer-font-size: 14px;
    --app-piste-name-width: 120px;
}

@font-face {
    font-family: "fynewav black";
    src: url("./resources/fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: "fynewav bold";
    src: url("./resources/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "fynewav";
    src: url("./resources/fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: "fynewav light";
    src: url("./resources/fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: "fynewav black italic";
    src: url("./resources/fonts/Roboto-BlackItalic.ttf");
}
@font-face {
    font-family: "fynewav bold italic";
    src: url("./resources/fonts/Roboto-BoldItalic.ttf");
}
@font-face {
    font-family: "fynewav italic";
    src: url("./resources/fonts/Roboto-MediumItalic.ttf");
}
@font-face {
    font-family: "fynewav light italic";
    src: url("./resources/fonts/Roboto-ThinItalic.ttf");
}

::selection {
    color: var(--color-white-light);
    background-color: var(--color-white-dark);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-blue-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-blue-dark);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

body {
    background-color: var(--color-black-dark);
    overflow: hidden;
    margin: 0px; padding: 0px;
}

div#window-container {
    height: 100vh;
    width: 100vw;
    margin: 0px; padding: 0px;
    transform: scale(1);
}

div#app-content-container {
    display: inline-flex;
    height: 100%; width: 100%;
}